#root {
  height: 100%;
}

.app-container {
  height: 100%;
}

.sider-container {
  height: 100%;
  overflow-y: auto;
}

.sider-container .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout {
  height: 100%;
}

.site-layout-sub-header-background {
  background: #fff;
}
